body {
  margin: 0px;
}

.navigation_section {
  background-color: darkmagenta;
  min-height: 90vh;
  color: white;
}
.navigation_section .navigation_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
}
.navigation_section .navigation_bar .links a {
  color: white;
  text-decoration: none;
  padding-right: 15px;
  font-size: 18px;
}
.navigation_section .navigation_bar .contact {
  color: darkmagenta;
  background-color: white;
  padding: 16px 24px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 18px;
}
.navigation_section .navigation_bar .contact:hover {
  opacity: 0.8;
}
.div-personal {
  padding: 0px 20%;
}
.navigation_section .div-personal .title {
  font-size: 60px;
  letter-spacing: 1px;
  margin-bottom: 75px;
}
.div-about_text {
  display: flex;
  justify-content: space-between;
  height: 150px;
}
.navigation_section .div-personal .div-about_text p {
  width: 77.5%;
}
.navigation_section .div-personal .div-about_text .skills {
  display: flex;
  width: 90%;
}
.navigation_section .div-personal .div-about_text .skills li {
  list-style-type: none;
  padding-left: 10px;
}

.articles_section {
  padding: 64px 20%;
}
.articles_section .main_title {
  font-size: 60px;
  font-weight: 300;
}
.articles_section .div-articles_posts .div-article_post {
  margin-top: 50px;
}
.articles_section .div-articles_posts .div-article_post .post_title {
  font-size: 28px;
  font-weight: 100;
}
.articles_section .div-articles_posts .div-article_post .post_text {
  font-size: 18px;
}

.livetutorials_section {
  background-color: gainsboro;
  padding: 64px 20%;
}
.livetutorials_section .div-livetutorials .title-livetutorials {
  font-size: 60px;
  font-weight: 300;
}
.livetutorials_section .div-livetutorials .div-name_type_date {
  border: 1px solid black;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  margin-bottom: 25px;
  height: 100px;
}
.livetutorials_section .div-livetutorials .div-name_type_date h3 {
  font-weight: 200;
}
.livetutorials_section
  .div-livetutorials
  .div-name_type_date
  .div-type_date
  .date {
  color: gray;
  margin-top: -12px;
  font-size: 14px;
}

.footer_section {
  background-color: black;
}
.footer_section .div-twitter_instagram_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.footer_section .div-twitter_instagram_icons img {
  width: 50px;
  padding: 25px;
}
